<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{site.title}}</title>
    <link href="{{site.url}}{{site.baseurl}}/css/index.css" rel='stylesheet' type="text/css"/>
</head>
<!-- This is the layout for mainpage -->
<body>
  <iframe class="content" src="{{site.url}}{{site.baseurl}}/content.html" frameborder="0" scrolling="false"></iframe>
</body>
<script src="{{site.url}}{{site.baseurl}}/js/jquery-3.1.1.min.js"></script>
<script src="{{site.url}}{{site.baseurl}}/js/baiduHitCounter.js"></script>
<script src="{{site.url}}{{site.baseurl}}/js/music.js"></script>